<div class="md:flex md:items-center md:justify-end w-full sm:w-auto md:h-full md:w-1/2 py-8 px-4 sm:p-12 md:p-16 sm:rounded-2xl md:rounded-none sm:shadow md:shadow-none sm:bg-card bg-white">
    <div class="w-full max-w-80 sm:w-80 mx-auto sm:mx-0">
        <!-- Logo -->
        <div class="text-center">
            <img src="assets/images/logo/motbi_logo-02.png">
        </div>

        <!-- Title -->
        <div class="text-4xl font-extrabold tracking-tight leading-tight text-center">¡Hola motero!</div>
        <div class="flex items-baseline mt-0.5 font-medium">
            <div class="text-center text-lg">Gestiona mejor los gastos de tu moto</div>
        </div>

        <!-- Alert -->
        <fuse-alert
            class="mt-8"
            *ngIf="showAlert"
            [appearance]="'outline'"
            [showIcon]="false"
            [type]="alert.type"
            [@shake]="alert.type === 'error'">
            {{alert.message}}
        </fuse-alert>

        <!-- Sign Up form -->
        <form
            class="mt-8"
            [formGroup]="signUpForm"
            #signUpNgForm="ngForm">       

            

        </form>

        <!-- Submit button -->
        <button
        class="fuse-mat-button-large w-full mt-6"
        mat-flat-button
        [color]="'primary'"
        [disabled]="signUpForm.disabled"
        (click)="signUp()">
        <span *ngIf="!signUpForm.disabled">
            Soy nuevo, crear una cuenta
        </span>
        <mat-progress-spinner
            *ngIf="signUpForm.disabled"
            [diameter]="24"
            [mode]="'indeterminate'">
        </mat-progress-spinner>
        </button>

        <!-- Submit button -->
        <button
        class="fuse-mat-button-large w-full mt-6"
        mat-flat-button
        [color]="'default'"
        [disabled]="signUpForm.disabled"
        (click)="signIn()">
        <span *ngIf="!signUpForm.disabled">
            Iniciar seción
        </span>
        <mat-progress-spinner
            *ngIf="signUpForm.disabled"
            [diameter]="24"
            [mode]="'indeterminate'">
        </mat-progress-spinner>
        </button>
    </div>
</div>
<!-- <div class="flex flex-col sm:flex-row items-center md:items-start sm:justify-center md:justify-start flex-auto min-w-0
bg-[url('assets/images/bg-sign-in.jpg')]">
</div> -->
